In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

from numpy.random import randn

In [4]:
ser1= Series([1,2,3,4,5,],index=['me','you','her','us','them'])
ser1

me      1
you     2
her     3
us      4
them    5
dtype: int64

In [5]:
ser2=ser1.reindex(['me','you','her','i','mew','them','us','we',])
ser2

me      1.0
you     2.0
her     3.0
i       NaN
mew     NaN
them    5.0
us      4.0
we      NaN
dtype: float64

In [6]:
ser2.reindex(['flash','loren','ko','ble','tim','them','we','you','us','i','me',],fill_value=100)

flash    100.0
loren    100.0
ko       100.0
ble      100.0
tim      100.0
them       5.0
we         NaN
you        2.0
us         4.0
i          NaN
me         1.0
dtype: float64

In [13]:
dframe= DataFrame(randn(36).reshape((6,6)),index=['A','B','C','D','E','F'],
                  columns=['kosi','Timothy','blessing','samuel','elijah','moses'])
dframe

       kosi   Timothy  blessing    samuel    elijah     moses
A  0.695228 -0.538024  0.296106  1.744669 -0.654196 -0.883040
B  0.751344  1.025776 -0.466226  1.207049 -0.904904 -0.072057
C -0.655365 -0.658670 -1.164841 -0.956203  0.244319 -1.659810
D  0.319724 -0.239214 -1.593142 -0.686783 -0.650541 -0.339111
E -0.312373 -0.205872 -0.749910  2.001778  0.449819  0.233649
F -0.197592 -0.738854 -0.369433  0.307672 -1.294082 -1.389747

In [17]:
new_columns= ['kosi','blessing','samuel','timothy','loren','elijah']
new_columns

['kosi', 'blessing', 'samuel', 'timothy', 'loren', 'elijah']

In [19]:
dframe2= dframe.reindex(['X','D','L','B','A','E','G','J','H','C'])
dframe2

       kosi   Timothy  blessing    samuel    elijah     moses
X       NaN       NaN       NaN       NaN       NaN       NaN
D  0.319724 -0.239214 -1.593142 -0.686783 -0.650541 -0.339111
L       NaN       NaN       NaN       NaN       NaN       NaN
B  0.751344  1.025776 -0.466226  1.207049 -0.904904 -0.072057
A  0.695228 -0.538024  0.296106  1.744669 -0.654196 -0.883040
E -0.312373 -0.205872 -0.749910  2.001778  0.449819  0.233649
G       NaN       NaN       NaN       NaN       NaN       NaN
J       NaN       NaN       NaN       NaN       NaN       NaN
H       NaN       NaN       NaN       NaN       NaN       NaN
C -0.655365 -0.658670 -1.164841 -0.956203  0.244319 -1.659810

In [20]:
new_columns= ['kosi','blessing','samuel','timothy','loren','elijah']

In [21]:
dframe2.reindex(columns=new_columns)

       kosi  blessing    samuel  timothy  loren    elijah
X       NaN       NaN       NaN      NaN    NaN       NaN
D  0.319724 -1.593142 -0.686783      NaN    NaN -0.650541
L       NaN       NaN       NaN      NaN    NaN       NaN
B  0.751344 -0.466226  1.207049      NaN    NaN -0.904904
A  0.695228  0.296106  1.744669      NaN    NaN -0.654196
E -0.312373 -0.749910  2.001778      NaN    NaN  0.449819
G       NaN       NaN       NaN      NaN    NaN       NaN
J       NaN       NaN       NaN      NaN    NaN       NaN
H       NaN       NaN       NaN      NaN    NaN       NaN
C -0.655365 -1.164841 -0.956203      NaN    NaN  0.244319

In [22]:
dframe

       kosi   Timothy  blessing    samuel    elijah     moses
A  0.695228 -0.538024  0.296106  1.744669 -0.654196 -0.883040
B  0.751344  1.025776 -0.466226  1.207049 -0.904904 -0.072057
C -0.655365 -0.658670 -1.164841 -0.956203  0.244319 -1.659810
D  0.319724 -0.239214 -1.593142 -0.686783 -0.650541 -0.339111
E -0.312373 -0.205872 -0.749910  2.001778  0.449819  0.233649
F -0.197592 -0.738854 -0.369433  0.307672 -1.294082 -1.389747

In [33]:
dframe.loc[['C','B','A'], new_columns]

KeyError: "['timothy', 'loren'] not in index"